stages:
  - test
  - release

.test_template: &test_template
  stage: test
  image: python:$PYTHON_VERSION
  before_script:
    - pip install tox
  script:
    - make test PYTHON=$PYTHON_VERSION
  coverage: /\d+\%\s*$/
  artifacts:
    paths:
      - htmlcov/

test_3.3:
  <<: *test_template
  variables:
    PYTHON_VERSION: "3.3"

test_3.4:
  <<: *test_template
  variables:
    PYTHON_VERSION: "3.4"

test_3.5:
  <<: *test_template
  variables:
    PYTHON_VERSION: "3.5"

test_3.6:
  <<: *test_template
  variables:
    PYTHON_VERSION: "3.6"


upload_to_pypi:
  stage: release
  image: python
  before_script:
    - pip install setuptools wheel twine -U
  script:
    - make build_dist LOCALVERSION=
    - make upload
  when: manual
  only:
    - master
    - /^release/.+$/
    - tags
  environment:
    name: PyPi
    url: https://pypi.python.org/pypi/type_comparable
  dependencies: []  # don't fetch artifacts
